* {
    text-align: center;
}

.champion {
    background-color: rgba(0, 0, 128, .9);
}

.doubleSpaced {
    margin-top: 20px;
    margin-bottom: 20px;
}

.defaultColor{
    background-color: rgba(255, 255, 255, .4);
}

.extraPlayer{
    background-color: rgba(237, 237, 0, .4);
    padding: 5px 5px 5px 5px;
}

.finalScore {
    border: solid #000000 2px;
    background-color: #999;
}

.hole {
    display: inline;
    text-align: center;
}

html {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon {
    max-height: 50px;
    max-width: 50px;
}

.jumbotron {
    text-align: center;
}
#modalMenu {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.map {
    height: 450px;

}

.men {
    background-color: rgba(255, 255, 255, .9);
}

.menu {
    padding: 5px 5px 5px 5px;
}
.menuObject {
    background-color: red;
    height: 20px;
    border: black 2px solid;
}



#player1{
    margin: 5px 0 0 0;
    padding: 5px 5px 5px 5px;
}

#player2{
    padding: 5px 5px 5px 5px;
}

#player3{
    padding: 5px 5px 5px 5px;
}

#player4{
    padding: 5px 5px 5px 5px;
}

#player5{
    padding: 5px 5px 5px 5px;
}

.pro {
    background-color: rgba(0, 0, 0, .9);
}


#scoreCard {
    background-color: #999;
}

.score1 {
    border: solid #000000 2px;
    background-color: #999;
}

.score2 {
    border: solid #000000 2px;
    background-color: #999;
}

.spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    clear: both;
}

.women {
    background-color: rgba(255, 0, 0, .9);

}




