* {
    text-align: center;
}

.champion {
    background-color: rgba(0, 0, 128, .9);
}

.doubleSpaced {
    margin-top: 20px;
    margin-bottom: 20px;
}

.defaultColor{
    background-color: rgba(200, 200, 200, .94);
}


.finalScore {
    color: white;
}

.hole {
    display: inline;
    text-align: center;
}

html {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon {
    max-height: 50px;
    max-width: 50px;
}

.jumbotron {
    text-align: center;
}
#modalMenu {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.MarioHole {
    background-color: white;
    border: black 1px solid;
}

.modal-content {
    background-color: rgba(240, 240, 240, .94) !important;
}
.map {
    height: 450px;

}

.men {
    background-color: rgba(255, 255, 255, .9);
}

.men div {
    color: black;
}

.menu {
    padding: 5px 5px 5px 5px;
}
.menuObject {
    background-color: transparent;

}

#messageArea {
    background-color: rgba(200, 200, 200, .9);
}

.off-color {
    background-color: rgba(200, 200, 200, .94);
}
.player {
    padding: 30px 5px 30px 5px;
    vertical-align: middle;

}

#player1{
    margin: 5px 0 0 0;

}


.pro {
    background-color: rgba(0, 0, 0, .9);
}

.row {
    margin: 10px 0 10px 0;
}
#title {
    background-color: rgba(200, 200, 200, .9);
}

#scoreCard {
    background-color: rgba(200, 200, 200, .8);
}
#selectionMenu {
    background-color: transparent;
}

.selectSkill {
    margin-top: 5px;
}

.selectPlayer {
    margin-top: 5px;
}

.score1 {
    border: solid #000000 2px;
    background-color: #999;
}

.score2 {
    border: solid #000000 2px;
    background-color: #999;
}

#soundArea {
    display: none;
}
.spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    clear: both;
}

.women {
    background-color: rgba(255, 0, 0, .9);

}




