* {
    text-align: center;
}

.doubleSpaced {
    margin-top: 20px;
    margin-bottom: 20px;
}

.finalScore {
    border: solid #000000 2px;
    background-color: #999;
}

.hole {
    display: inline;
    text-align: center;
}

html {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon {
    max-height: 50px;
    max-width: 50px;
}

.jumbotron {
    text-align: center;
}
#modalMenu {
    background: url("../images/newmarioGolfwithTrentandJonny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.map {
    height: 450px;

}

.menu {
    padding: 5px 5px 5px 5px;
}
.menuObject {
    background-color: red;
    height: 20px;
    border: black 2px solid;
}



#player1{
    background-color: rgba(0, 123, 123, .4);
    margin: 5px 0 0 0;
    padding: 5px 5px 5px 5px;
}

#player2{
    background-color: rgba(123, 0, 123, .4);
    padding: 5px 5px 5px 5px;
}

#player3{
    background-color: rgba(123, 123, 0, .4);
    padding: 5px 5px 5px 5px;
}

#player4{
    background-color: rgba(0, 237, 237, .4);
    padding: 5px 5px 5px 5px;
}

#player5{
    background-color: rgba(237, 0, 237, .4);
    padding: 5px 5px 5px 5px;
}

.extraPlayer{
    background-color: rgba(237, 237, 0, .4);
    padding: 5px 5px 5px 5px;
}

#scoreCard {
    background-color: #999;
}

.score1 {
    border: solid #000000 2px;
    background-color: #999;
}

.score2 {
    border: solid #000000 2px;
    background-color: #999;
}

.spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    clear: both;
}




